body{
    background-image: url(MenuBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: lightyellow;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 5px orange ;
}